{{ 'section-categories.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
  <div class="category-block">
    <img
      class="category-block__image"
      src="{{ block.settings.image | img_url: '708x530' }}"
      alt="{{ block.settings.image.alt | escape }}"
      width="708"
      height="530"
      loading="lazy"
    >
    <a href="{{ block.settings.url }}" class="category-block__cta h4">
      {{ block.settings.title }}
      {% render 'icon-chevron-right' %}
    </a>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Categories",
  "class": "categories page-width",
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"Categories"
    }
  ]
}
{% endschema %}