{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<section class="hero hero__layout--{{ section.settings.hero_image_position }}" style="background-color: {{ section.settings.background_color }};">
  <img
    srcset="{{ section.settings.hero_image | img_url: '457x460' }} 1x, {{ section.settings.hero_image | img_url: '457x460', scale: 2 }} 2x"
    class="hero__image"
    src="{{ section.settings.hero_image | img_url: '457x460' }}"
    alt="{{ section.settings.hero_image.alt }}"
    loading="lazy"
    width="{{ section.settings.hero_image.width }}"
    height="{{ section.settings.hero_image.height }}"
  >
  <div class="hero__content">
    <h1 class="hero__title">{{ section.settings.title }}</h1>
    <h2 class="hero__description h5">{{ section.settings.description }}</h2>

    <a href="{{ section.settings.cta_url }}" class="hero__cta">{{ section.settings.cta_label }}</a>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA Label"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    },
    {
      "type": "select",
      "id": "hero_image_position",
      "label": "Hero Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "presets": [
    {
      "name":"Hero"
    }
  ]
}
{% endschema %}