{{ 'section-icons.css' | asset_url | stylesheet_tag }}


{% for block in section.blocks %}
  <div class="icon-block">
    <img
      srcset="{{ block.settings.image | img_url: '89x69' }} 1x"
      src="{{ block.settings.image | img_url: '89x69' }}"
      alt="{{ block.settings.image.alt | escape }}"
      class="icon-block__image"
      width="{{ block.settings.image.width }}"
      height="{{ block.settings.image.height }}"
      loading="lazy"
    >
    <h1 class="icon-block__title h5">{{ block.settings.title }}</h1>
    <p class="icon-block__description">{{ block.settings.description }}</p>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Icons",
  "class": "icons",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "icon_block",
      "name": "Icon Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"Icons"
    }
  ]
}
{% endschema %}