{{ 'component-pencil-banner.css' | asset_url | stylesheet_tag }}

{% if section.settings.message != blank %}
  <div class="pencil-banner" style="background-color: {{ section.settings.background_color }}; color: {{ section.settings.message_color }};">
    {{ section.settings.message }}
  </div>
{% endif %}

{% schema %}
{
  "name": "Pencil Banner",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "message_color",
      "label": "Message Color",
      "default": "#FFF"
    }
  ]
}
{% endschema %}
