.pencil-banner {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: bold;
  padding: 1.1rem 0;
  line-height: 1.2;
}

@media screen and (min-width: 750px) {
  .pencil-banner {
    line-height: 1.6;
    padding: 0.8rem 0;
  }
}