.header__inline-menu {
  min-width: initial !important;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.header__menu-item {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #000;
}
