.hero {
  padding-top: 9.5rem;
  padding-bottom: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9rem;
}

.hero__title {
  color: #000;
  margin: 0;
  max-width: 58rem;
}

.hero__title p {
  margin: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__description {
  letter-spacing: 0.05em;
  color: #636363;
  margin: 0;
  max-width: 46rem;
}

.hero__cta {
  text-decoration: none;
  padding: 1.243rem 5.89rem 2.015rem 5.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.22;
  color: #FFF;
  background: #000;
  border-radius: 1rem;
  display: inline-block;
  margin-top: 6.2rem;
  letter-spacing: 0.05em;
}

.hero__layout--left .hero__content {
  text-align: right;
  align-items: flex-end;
}

.hero__layout--right {
  flex-direction: row-reverse;
}

.hero__layout--right .hero__content {
  text-align: left;
  align-items: flex-start;
}