.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.category-block {
  position: relative;
}

.category-block__cta {
  position: absolute;
  top: 4rem;
  left: 4rem;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.category-block__image {
  width: 100%;
  height: 100%;
}