.icons {
  padding-top: 9rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  column-gap: 16rem;
  align-items: center;
}

.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  text-align: center;
}

.icon-block__title {
  margin-top: 1.9rem;
  margin-bottom: 0.9rem;
}

.icon-block__description {
  margin: 0;
}